.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container table {
    width: 100%;
}

.container thead {
    width: 100%;
}

.container tbody {
    width: 100%;
}