.slider {
    width: 90%;
    margin-top: 15px;
    padding: 10px;
    /* background-color: rgb(250, 250, 250); */
    border-radius: 100px;
}

.slider .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    transform: scale(0.85);
    transition: all 0.4s ease;
}

.slider .slick-center {
    opacity: 1;
    transform: scale(1);
}

.slider .slick-slide>div {
    margin-left: 10%;
}

.slider img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 12px;
    background: white;
    padding: 10px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.slider img:hover {
    transform: scale(1.1);
}